:root {
  /* Declaration Variabel CSS */
  --font-color: #241740;
  --primary-color-: #9769FF;
}

* {
  font-family: "Poppins", sans-serif;  
}

.flex {
  
}

/* Mobile Landscape Mode */
@media screen and (min-width: 640px) {
  
}

/* Tablet Mode */
@media screen and (min-width: 768px) {
  
}

/* Notebook */
@media screen and (min-width: 1024px) {
  
}

/* Laptop */
@media screen and (min-width: 1280px) {
  
}