/* Global Style */
:root {
  /* Declaration Variabel CSS */
  --font-color: #241740;
  --primary-color-: #9769FF;
}

* {
  font-family: "Poppins", sans-serif !important;  
}

section, footer {
  margin-
  bottom: 10rem !important; 
}


/* Button Style */
.btn {
  color: white;
  background-color: var(--primary-color-);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  width: fit-content;  
}
.btn:hover {
  background-color: #7a42fc;
}
.collection-wrapper, .hero-wrapper {
  padding: 0 1rem;
}


/* NAVIGATION BAR */
nav {
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 5px 0px rgb(216, 216, 216, 0.5);
  background-color: white;
  z-index: 99;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 0 1rem;    
}
.navbar-logo {
  width: 100px;
}
.navbar-logo img {
  width: 100%;
}
nav ul {
  display: none;  
}
.navbar-wrapper ul li a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  padding: .2rem;
  border-radius: 5px;
}
.navbar-wrapper ul li:hover a {
  color: white;
  background-color: var(--primary-color-);  
}
.navbar-hamburger {
  margin: .6rem;   
}
.navbar-hamburger svg {
  font-size: 30px;
  text-align: end;
  cursor: pointer;
}

/* Hero */
.hero-wrapper {
  display: flex;      
  flex-wrap: wrap;  
  justify-content: space-between;
  margin: 8rem auto; 
}
.hero-wrapper h1 {
  color: var(--font-color);
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem; 
  line-height: 6rem;   
}
.hero-wrapper p {
  color: var(--font-color);
  opacity: .8;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.hero-wrapper .hero-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-wrapper .hero-item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 30px;
}

/* OUR COLLECTION */
.collection-wrapper {  
  margin: 0 auto;
}
.collection-title {  
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;  
  color: var(--font-color);  
  margin-bottom: 5rem;
}
.collection-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem 3rem;  
}
.collection-container .collection-item {
  width: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between;  
  align-items: center;
}
.collection-item .collection-detail {
  color: var(--font-color);
  font-size: 18px;
  font-weight: 500;    
  text-align: center;    
  display: flex; 
  flex-direction: column;
  gap: 18px;
}
.collection-item .collection-thumbnail img {
  width: 100%;
}

/* Mobile Landscape Mode */
@media screen and (min-width: 640px) {
  .collection-wrapper, .hero-wrapper {
    max-width: 640px;      
  }
 
  /* Our Collections */
  .collection-container .collection-item {
    width: 40%; 
  }
}

/* Tablet Mode */
@media screen and (min-width: 768px) {
  .collection-wrapper, .hero-wrapper {
    max-width: 768px;      
  }  
  
  /* Navigation Bar */
  .navbar-wrapper {
    padding: 0 4rem;
    justify-content: space-between;
  }
  .navbar-logo {    
    display: block;
  }
  nav ul {
    display: flex;  
    gap: 2.5rem;
  }
  .navbar-hamburger {
    display: none;
  }

}

/* Notebook */
@media screen and (min-width: 1024px) {
  .collection-wrapper, .hero-wrapper {
    max-width: 1024px;      
  }

  .hero-wrapper{
    margin: 0 auto;
  }

  /* Our Collections */
  .collection-container .collection-item {
    width: 25%; 
  }

  /* Hero */
  .hero-wrapper .hero-item {
    width: 45%;   
    text-align: left;
    align-items: flex-start; 
  }
}

/* Laptop */
@media screen and (min-width: 1280px) {
  .collection-wrapper, .hero-wrapper {
    max-width: 1280px;      
  }  
}